html {
    padding: 0;
}

body {
    margin: 0;
    width: 100vw;
    height: 100vh;
    background-color: #cbc8c8;
    display: flex;
    justify-content: center;
    align-items: center;
}

div {
    border: 1px solid orangered;
    border-radius: 5px;
}

.container {
    height: 800px;
    width: 1000px;
    background-color: white;
    padding-top: 5px;
    padding-bottom: 5px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.part1 {
    width: 900px;
    height: 100px;
    padding-left: 5px;
    padding-right: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.part1-left {
    width: 180px;
    height: 85px;
}

.part1-right {
    width: 180px;
    height: 85px;
}

.part2 {
    width: 900px;
    height: 360px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.part2-top {
    width: 600px;
    height: 150px;
}

.part2-middle {
    width: 350px;
    height: 40px;
}

.part2-bottom {
    width: 300px;
    height: 50px;
}

.part3 {
    width: 900px;
    height: 300px;
    display: flex;
    padding-top: 5px;
    padding-bottom: 5px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.part3-top {
    width: 800px;
    height: 40px;
}

.part3-middle {
    width: 800px;
    height: 180px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.part3-bottom {
    width: 800px;
    height: 50px;
}

.card {
    width: 180px;
    height: 160px;
}